<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esen.youngcms.dao.ContentTextMapper" >
  <resultMap id="BaseResultMap" type="com.esen.youngcms.bean.ContentText" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content_id" property="contentId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.esen.youngcms.bean.ContentText" extends="BaseResultMap" >
    <result column="text" property="text" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content_id
  </sql>
  <sql id="Blob_Column_List" >
    text
  </sql>
  
</mapper>