<#include "/admin/inc/ctx.html">
<div class="pageContent">
	<form method="post" action="${ctx}/admin/template/renameCommit" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone);">
		<input type="hidden" id="parentPath" name="parentPath" value="${(pageForm.parentPath)! }" />
		<input type="hidden" id="absolutePath" name="absolutePath" value="${(pageForm.absolutePath)! }" />
		<div class="pageFormContent" layoutH="56">
			<p>
				<label>资源名</label> <input type="text" id="name" name="name" value="${(pageForm.name)! }" />
			</p>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>



